{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo

{% endblock %}


{% block content %}

    <h1>Flask and Turso Demo</h1>

    <section id="things">

        {% for thing in things %}
            <p><button > <a href="/thing/{{ thing.id }}" type="button"> {{ thing.name }} -----------| </a> <a role="alert" href="/delete/{{thing.id}}"> delete </a></button></p>
        {% endfor %}

    </section>


{% endblock %}
